<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
<welcome-file-list>
    <welcome-file>index.html</welcome-file>
</welcome-file-list>

<!-- <persistence-context-ref>
    <persistence-context-ref-name>example/em</persistence-context-ref-name>
    <persistence-unit-name>ExamplePersistenceUnit</persistence-unit-name>
</persistence-context-ref> 

<persistence-unit-ref>
    <persistence-unit-ref-name>example/emf</persistence-unit-ref-name>
    <persistence-unit-name>ExamplePersistenceUnit</persistence-unit-name>
</persistence-unit-ref> -->

</web-app>
